.color-card {
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.color_card_highlight {
  background-color: #fff3cd;
  color: #856404;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.btn_delete {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 40%;
  outline: none;
  box-shadow: 0 0 0 2px #ff0000;
  transition: background-color 0.3s ease;
}

.btn_delete:hover {
  background-color: #d43f3f;
}

.btn_cancel {
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 40%;
  outline: none;
  box-shadow: 0 0 0 2px #ccc;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.btn_cancel:hover {
  background-color: #999;
}

.no-colors-message {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
  color: #333;
}

.btn_edit {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 40%;
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.btn_edit:hover {
  background-color: #0056b3;
}
